html, body {
  height: 100%;
  margin: 0;
}
#c, #c canvas {
  width: 100%;
  height: 100%;
  display: block;
  touch-action: none;
}
#c canvas:focus {
  outline: none;
}


body {
  margin: 0;
  font-family: "Inter", sans-serif;
  display: grid;
  height: 100dvh;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.keen-slider {
  flex-wrap: nowrap;
  justify-content: start;
}

.keen-slider .keen-slider__slide {
  flex: 0 0 auto;
}

[class^="number-slide"],
[class*=" number-slide"] {
  background: grey;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 50px;
  color: #fff;
  font-weight: 500;
  height: 100%;
  /* width: 300px !important; */
  /* max-height: 100vh; */
  display: flex;
  align-items: center;
  /* justify-content: end; */
}

.number-slide1 {
  display: grid;
  background: black;
  place-items: center;
  font-size: 1.2rem;
  max-height: 100dvh;
  grid-template-rows: 100%;
  grid-template-columns: 100%;
}


.number-slide1 * {
  grid-area: 1 / 1 / -1 / -1;
}


.number-slide2 {
  background: rgb(255, 75, 64);
  background: linear-gradient(
    128deg,
    rgba(255, 154, 63, 1) 0%,
    rgba(255, 75, 64, 1) 100%
  );
}

.number-slide3 {
  background: rgb(182, 255, 64);
  background: linear-gradient(
    128deg,
    rgba(182, 255, 64, 1) 0%,
    rgba(63, 255, 71, 1) 100%
  );
  background: linear-gradient(
    128deg,
    rgba(189, 255, 83, 1) 0%,
    rgba(43, 250, 82, 1) 100%
  );
}

.number-slide4 {
  background: rgb(64, 255, 242);
  background: linear-gradient(
    128deg,
    rgba(64, 255, 242, 1) 0%,
    rgba(63, 188, 255, 1) 100%
  );
}

.number-slide5 {
  background: rgb(255, 64, 156);
  background: linear-gradient(
    128deg,
    rgba(255, 64, 156, 1) 0%,
    rgba(255, 63, 63, 1) 100%
  );
}
.number-slide6 {
  background: rgb(64, 76, 255);
  background: linear-gradient(
    128deg,
    rgba(64, 76, 255, 1) 0%,
    rgba(174, 63, 255, 1) 100%
  );
}
