html, body {
  height: 100%;
  margin: 0;
  background: 100%;
}

body {
  margin: 0;
  font-family: "Inter", sans-serif;
  display: grid;
  min-height: 100vh;
  background-color: black;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.keen-slider {
  flex-wrap: nowrap;
  justify-content: start;
  height: 100vh;
}

.keen-slider .keen-slider__slide {
  flex: 0 0 auto;
}

.bottom {
  height: 100vh;
}

[class^="number-slide"],
[class*=" number-slide"] {
  background: grey;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 50px;
  color: #fff;
  font-weight: 500;
  height: 100%;
  /* width: 300px !important; */
  /* max-height: 100vh; */
  display: flex;
  align-items: center;
  /* justify-content: end; */
}

.number-slide2 {
  display: grid;
  background: black;
  place-items: center;
  font-size: 1.2rem;
  max-height: 100vh;
  grid-template-rows: 100%;
  grid-template-columns: 100%;
}


.number-slide2 * {
  grid-area: 1 / 1 / -1 / -1;
}


.number-slide1 {
  background: rgb(255, 75, 64);
  background: linear-gradient(
    128deg,
    rgba(255, 154, 63, 1) 0%,
    rgba(255, 75, 64, 1) 100%
  );
}

.number-slide3 {
  background: rgb(182, 255, 64);
  background: linear-gradient(
    128deg,
    rgba(182, 255, 64, 1) 0%,
    rgba(63, 255, 71, 1) 100%
  );
  background: linear-gradient(
    128deg,
    rgba(189, 255, 83, 1) 0%,
    rgba(43, 250, 82, 1) 100%
  );
}

.number-slide4 {
  background: rgb(64, 255, 242);
  background: linear-gradient(
    128deg,
    rgba(64, 255, 242, 1) 0%,
    rgba(63, 188, 255, 1) 100%
  );
}

.number-slide5 {
  background: rgb(255, 64, 156);
  background: linear-gradient(
    128deg,
    rgba(255, 64, 156, 1) 0%,
    rgba(255, 63, 63, 1) 100%
  );
}
.number-slide6 {
  background: rgb(64, 76, 255);
  background: linear-gradient(
    128deg,
    rgba(64, 76, 255, 1) 0%,
    rgba(174, 63, 255, 1) 100%
  );
}

monk-view,
monk-view canvas {
  width: 100%;
  height: 100%;
  display: block;
}

monk-view canvas:focus {
  outline: none;
}

monk-view {
  --delay-model: 300ms;
  --delay-ar: calc(--delay-model + 2300ms);
  position: relative;
  touch-action: auto;
}

monk-view[interactive="true"] {
  touch-action: none;
}

monk-view canvas {
  transition: opacity 4000ms var(--delay-model) ease-in-out;
  opacity: 0;
}

monk-view[loaded="true"] canvas {
  scale: 1;
  opacity: 1;
}

.loading-monk-view {
  opacity: 1;
  transition: opacity 500ms ease-out;
  pointer-events: none;
}

.loading-monk-view:has(+ monk-view[ready="true"]) {
  opacity: 0;
}

.loading-monk-view:before {
  content: '[ ';
}

.loading-monk-view:after {
  content: ' ]';
}

.loading-monk-view:before,
.loading-monk-view:after {
  position: relative;
  top: -0.06em;
}

monk-view .ar-link {
  position: absolute;
  font-size: 1rem;
  right: 1.2rem;
  top: calc(100dvh - 3rem);
  padding: 5px 10px;
  background: hsl(0, 0%, 16%);
  border-radius: 0.2em;
  color: white;
  text-decoration: none;
  opacity: 0;
  transition: opacity 1500ms var(--delay-ar) ease-in-out;
}

monk-view[loaded="true"] .ar-link {
  opacity: 1;
}
